<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.BaseMapper">

    <select id="queryBySql" parameterType="String" resultType="java.util.HashMap">
        ${_parameter}
    </select>

    <select id="queryFirstRowBySql" parameterType="String" resultType="java.util.HashMap">
        ${_parameter} limit 1;
    </select>

    <insert id="insertBySql" parameterType="String">
        ${_parameter}
    </insert>

</mapper>