# Project exclude paths
/dosomething/target/
/.idea/
*.class
*/target/
*/test/
/logs/
/newparent.iml
dosomething/src/main/resources/templates/
dosomething/src/test/
src/
/WeChatControl/
dosomething/Dockerfile
*.DS_Store
