<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.MessageMapper">

    <insert id="insertOfEntity" keyProperty="id">
        insert into messagelog(id,create_time,ToUserName,FromUserName,CreateTime,MsgType,Content,MsgId,PicUrl,MediaId,Format,Recognition,ThumbMediaId,Location_X,Location_Y,Scale,Label,Title,Description,Url,Event,EventKey) values
        (#{id}, #{create_time}, #{ToUserName}, #{FromUserName}, #{CreateTime}, #{MsgType}, #{Content}, #{MsgId}, #{PicUrl}, #{MediaId}, #{Format}, #{Recognition}, #{ThumbMediaId}, #{Location_X}, #{Location_Y}, #{Scale}, #{Label}, #{Title}, #{Description}, #{Url},#{Event},#{EventKey})
    </insert>

</mapper>